<table mat-table [dataSource]="DataSourceProcessos" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="npu">
    <th mat-header-cell *matHeaderCellDef> NPU </th>
    <td mat-cell *matCellDef="let processo"> {{ processo.npu }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="datCadastro">
    <th mat-header-cell *matHeaderCellDef> Data Cadastro </th>
    <td mat-cell *matCellDef="let processo"> {{ processo.datCadastro}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="datVisualizado">
    <th mat-header-cell *matHeaderCellDef> Data Visualizado </th>
    <td mat-cell *matCellDef="let processo"> {{ processo.datVisualizado }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="municipio">
    <th mat-header-cell *matHeaderCellDef> Município </th>
    <td mat-cell *matCellDef="let processo"> {{ processo.municipio }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="uf">
    <th mat-header-cell *matHeaderCellDef> UF </th>
    <td mat-cell *matCellDef="let processo"> {{ processo.uf }} </td>
  </ng-container>

    <!-- Symbol Column -->
  <ng-container matColumnDef="uploadArq">
    <th mat-header-cell *matHeaderCellDef> Upload </th>
    <td mat-cell *matCellDef="let processo"> {{ processo.uploadArq }} </td>
  </ng-container>

  <ng-container matColumnDef="visualizado">
    <th mat-header-cell *matHeaderCellDef> Visualizado </th>
    <td mat-cell *matCellDef="let processo"> {{ processo.visualizado }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

